# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Rust
target
**/*.rs.bk

# wasm-pack output
packages/wasm/bin/
packages/wasm/pkg/*
!packages/wasm/pkg/package.json
packages/wasm/wasm-pack.log

# Tauri
apps/native/gen/schemas

# pnpm cargo
.cargo
.pnpm

# moon
.moon/cache

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
