# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Rust
platform/target

# moon
.moon/cache

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
