@import "material-symbols/rounded.css";

:root {
  --md-icon-font: "Material Symbols Rounded";
  --md-icon-weight: 400;
}

@font-face {
  font-family: "Maple Mono";
  src: url("~~/public/fonts/maple/MapleMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
